<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Guess the number the dice will land on. (1 - 6).</p>
<!--<form action="/roll-dice/1" method="post">-->
<!--    <input type="text" name="number" id="number-ip" class="field" />-->
<!--    <button>Roll Dice</button>-->
<!--</form>-->
<form action="/roll-dice/1" method="post">
    <input type="hidden" name="number" id="number1" value="1">
    <button type="submit">1</button>
</form>
<form action="/roll-dice/2" method="post">
    <input type="hidden" name="number" id="number2" value="2">
    <button name="number" type="submit">2</button>
</form>
<form action="/roll-dice/3" method="post">
    <input type="hidden" name="number" id="number3" value="3">
    <button type="submit">3</button>
</form>
<form action="/roll-dice/4" method="post">
    <input type="hidden" name="number" id="number4" value="4">
    <button type="submit">4</button>
</form>
<form action="/roll-dice/5" method="post">
    <input type="hidden" name="number" id="number5" value="5">
    <button type="submit">5</button>
</form>
<form action="/roll-dice/6" method="post">
    <input type="hidden" name="number" id="number6" value="6">
    <button type="submit">6</button>
</form>
</body>
</html>